@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #DE0000;
    --cor1:#000000;
    --cor2:#1632F2;
    --cor3:#E6BF13;
    --branco:#FFFFFF;
    --verde:#005b44;
}

body {
    font-size: 1rem;
    font-family: 'montserrat'; /*o nome da sua fonte*/
}